<!DOCTYPE html><html>
    <link rel="stylesheet" href="./css/style.css">
    {{>header}}
    <title>about    </title>
<img class="potrait" src="./img/monkey-d-luffy-74.jpg" alt="">
<p>{{name}}</p>
{{>footer}}
</html>