<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/style.css">
  <title>History</title>
</head>
<script src="xhttprequest.js"></script>
<script src="js/lending.js"></script>
<body id="home" style="margin-top: 105px;">

  <!-- Navigation -->

  <nav class="navbar navbar-expand-md navbar-light fixed-top py-4" id="main-nav">
    <div class="container">
      <a href="#home" class="navbar-brand">
        <img src="img/mlogo.png" width="50" height="50" alt="">
      </a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav">
            
          <li class="nav-item">
            <li class="nav-item">
                <a href="/home" class="nav-link">Home</a>

            </li>
              <a href="#" class="nav-link" data-toggle="modal" data-target="#addPostModal">
                  <i class="fas fa-plus"></i> Add Books
                </a>          </li>
          
          <li class="nav-item">
            <a href="/lendingHistory" class="nav-link" >Lending History</a>
          </li>
          <li class="nav-item">
            <a href="/borrowingHistory" class="nav-link">Borrowing History</a>
          </li>
          
          <li class="nav-item">
            <a href="/seeNotifications" class="nav-link">Notifications</a>
          </li>
          
        </ul>
        <ul class="navbar-nav ml-auto">

        
            
            <li class="nav-item">
              <a href="#" class="nav-link">Logout</a>
            </li>
        </ul>
      </div><!--end of collapse-->
    </div><!--end of container-->
  </nav>

  <section id="posts">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-header">
                <h4>Previous Orders</h4>
              </div>
              <table class="table table-striped">
                <thead class="thead">
                  <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Status</th>
                    <th>Date of issue</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr id="point1" style="visibility: collapse;">
                    <td>1</td>
                    <td id="point1title"></td>
                    <td id="point1status"></td>
                    <td id="point1doi"></td>
                    <td>
                      <a id="point1href" class="btn btn-info">
                       Details
                      </a>
                    </td>
                  </tr>
                  <tr id="point2" style="visibility: collapse;">
                    <td>1</td>
                    <td id="point2title"></td>
                    <td id="point2status"></td>
                    <td id="point2doi"></td>
                    <td>
                      <a id="point2href" class="btn btn-info">
                       Details
                      </a>
                    </td>
                  </tr>
                    <tr id="point3" style="visibility: collapse;">
                    <td>1</td>
                    <td id="point3title"></td>
                    <td id="point3status"></td>
                    <td id="point3doi"></td>
                    <td>
                      <a id="point3href" class="btn btn-info">
                       Details
                      </a>
                    </td>
                  </tr>
                      <tr id="point4" style="visibility: collapse;">
                    <td>1</td>
                    <td id="point4title"></td>
                    <td id="point4status"></td>
                    <td id="point4doi"></td>
                    <td>
                      <a id="point4href" class="btn btn-info">
                       Details
                      </a>
                    </td>
                  </tr>
                        <tr id="point5" style="visibility: collapse;">
                    <td>1</td>
                    <td id="point5title"></td>
                    <td id="point5status"></td>
                    <td id="point5doi"></td>
                    <td>
                      <a id="point5href" class="btn btn-info">
                       Details
                      </a>
                    </td>
                  </tr>
                          <tr id="point6" style="visibility: collapse;">
                    <td>1</td>
                    <td id="point6title"></td>
                    <td id="point6status"></td>
                    <td id="point6doi"></td>
                    <td>
                      <a id="point6href" class="btn btn-info">
                       Details
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
  
              <!-- Next Page -->
              <nav class="ml-4">
                <ul class="pagination">
                  <li class="page-item">
                    <a href="#" class="page-link">Previous</a>
                  </li>
                  <li class="page-item active">
                    <a href="#" class="page-link">1</a>
                  </li>
                  <li class="page-item">
                    <a href="#" class="page-link">2</a>
                  </li>
                  <li class="page-item">
                    <a href="#" class="page-link">3</a>
                  </li>
                  <li class="page-item">
                    <a href="#" class="page-link">Next</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </section>
  

  <!-- Footer -->
  <footer id="main-footer" class="py-5 bg-primary text-white">
      <div class="container">
        <div class="row text-center">
          <div class="col-md-12">
            <p class="lead">
              Copyright &copy;2019</p>
          </div><!-- end of col-md-12-->
        </div><!-- end of row-->
      </div><!-- end of container-->
    </footer>
  
  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>

  
</body>

</html>