<!DOCTYPE html>
<html lang="en">

<head>
  
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/style.css">
  <title>Login</title>
</head>
<script src="js/login.js"></script>
<script src="js/xhttpRequest.js"></script>
<body>
  <section id="showcase">
    <div class="d-flex align-items-center primary-overlay text-white">
      <div class="container">
        <div class="row">
          <div class="col-md-8 offset-2">
            <div class="card text-center border-primary mb-resp">
                <div class="card-body">
                    <h1 class="text-primary pb-3">
                        Login
                      </h1>
                  <div class="col-md-6 offset-3 col-xm-4">
                    <input type="text" class="form-control form-control-lg mb-resp" placeholder="Enter Email" id="emailText" required>
                  </div>
                  <div class="col-md-6 offset-3">
                    <input type="password" class="form-control form-control-lg mb-resp" placeholder="Enter Password" id="passwordText" required>
                  </div>
                  <br>
                  <div class="col-md-6 offset-3">
                      <button value="Submit"  class="btn btn-outline-primary" onclick="login()">Submit</button>
                  </div>
                  <br>
                  <h6 class="text-primary">
                       <a href="#" class="nav-link">Signup?</a>
                    </h1>
                </div><!--end of card-body-->
              </div><!-- end of card-->
            </div><!-- end of col-md-8-->
          </div><!-- end of row-->
        </div><!-- end of container-->
      </div><!-- end of d-flex-->
  </section>

  
  <!-- FOOTER -->
  <footer id="main-footer" class="py-5 bg-primary text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <p class="lead">
            Copyright &copy;2019</p>
        </div><!-- end of col-md-12-->
      </div><!-- end of row-->
    </div><!-- end of container-->
  </footer>


  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>

  
</body>

</html>